In [1]:
import pandas as pd

countries_to_keep = [
    'NLD', 'DEU', 'FRA', 'ESP', 'ITA', 'GBR', 'BEL', 'POL', 'AUT', 
    'SWE', 'NOR', 'DNK', 'FIN', 'PRT', 'GRC', 'CZE', 'ROU', 'IRL', 'HUN'
]

df = pd.read_csv('/Users/annie_lok_yan_wong/Downloads/european_wholesale_electricity_price_data_hourly/all_countries.csv')
df.columns  
countries = df['Country'].unique()
print(countries)

['Austria' 'Belgium' 'Czechia' 'Denmark' 'Estonia' 'Finland' 'France'
 'Germany' 'Greece' 'Hungary' 'Italy' 'Latvia' 'Lithuania' 'Luxembourg'
 'Netherlands' 'Norway' 'Poland' 'Portugal' 'Romania' 'Slovakia'
 'Slovenia' 'Spain' 'Sweden' 'Switzerland' 'United Kingdom' 'Bulgaria'
 'Serbia' 'Croatia' 'Ireland' 'Montenegro' 'North Macedonia']

In [3]:
filtered_df = df[df['ISO3 Code'].isin(countries_to_keep)]
countries = filtered_df['Country'].unique()
print(countries)

['Austria' 'Belgium' 'Czechia' 'Denmark' 'Finland' 'France' 'Germany'
 'Greece' 'Hungary' 'Italy' 'Netherlands' 'Norway' 'Poland' 'Portugal'
 'Romania' 'Spain' 'Sweden' 'United Kingdom' 'Ireland']

In [4]:
filtered_df.head()

,Country,ISO3 Code,Datetime (UTC),Datetime (Local),Price (EUR/MWhe)
0,Austria,AUT,2015-01-01 00:00:00,2015-01-01 01:00:00,22.34
1,Belgium,BEL,2015-01-01 00:00:00,2015-01-01 01:00:00,36.56
2,Czechia,CZE,2015-01-01 00:00:00,2015-01-01 01:00:00,24.20
3,Denmark,DNK,2015-01-01 00:00:00,2015-01-01 01:00:00,18.29
5,Finland,FIN,2015-01-01 00:00:00,2015-01-01 02:00:00,23.37