In [1]:
import pandas as pd

df = pd.read_csv('/Users/annie_lok_yan_wong/Downloads/europe_yearly_full_release_long_format.csv')
print(df.columns.tolist())

['Area', 'ISO 3 code', 'Year', 'Area type', 'Continent', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'ASEAN', 'Category', 'Subcategory', 'Variable', 'Unit', 'Value', 'YoY absolute change', 'YoY % change']

In [6]:
countries_to_keep = [
    'NLD', 'DEU', 'FRA', 'ESP', 'ITA', 'GBR', 'BEL', 'POL', 'AUT', 
    'SWE', 'NOR', 'DNK', 'FIN', 'PRT', 'GRC', 'CZE', 'ROU', 'IRL', 'HUN'
]
filtered_df = df[df['ISO 3 code'].isin(countries_to_keep)]
filtered_df.head()

,Area,ISO 3 code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,48.81,NaN,NaN
1,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity demand,Demand per capita,Demand per capita,MWh,6.36,NaN,NaN
2,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Clean,%,66.25,NaN,NaN
3,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Coal,%,12.56,NaN,NaN
4,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Fossil,%,33.75,NaN,NaN

In [7]:
renewable_df = df[df['Variable'] == 'Clean']

In [8]:
result = renewable_df.groupby('Year')['Value'].mean().reset_index()
result.columns = ['Year', 'Average Renewable Generation (%)']
print(result)

    Year  Average Renewable Generation (%)
0   1990                         35.631569
1   1991                         36.567157
2   1992                         37.029608
3   1993                         38.466765
4   1994                         38.713627
5   1995                         39.377353
6   1996                         40.384510
7   1997                         40.915392
8   1998                         41.535098
9   1999                         41.581765
10  2000                         40.937748
11  2001                         41.500180
12  2002                         40.715946
13  2003                         40.506757
14  2004                         42.534414
15  2005                         42.114386
16  2006                         42.235614
17  2007                         41.609211
18  2008                         42.974649
19  2009                         43.430263
20  2010                         45.560877
21  2011                         44.655789
22  2012                         46.873947
23  2013                         49.490263
24  2014                         50.674474
25  2015                         51.077456
26  2016                         51.656228
27  2017                         51.515263
28  2018                         53.823772
29  2019                         55.250263
30  2020                         56.193070
31  2021                         57.633070
32  2022                         55.456316
33  2023                         60.008684
34  2024                         63.197982

In [10]:
result.to_csv('/Users/annie_lok_yan_wong/PP434/average_renewable_generation_europe.csv', index=False)

In [11]:
clean_energy = df[(df['Subcategory'] == 'Aggregate fuel') & 
                  (df['Variable'] == 'Clean') & 
                  (df['Unit'] == '%')]

clean_by_country_year = clean_energy[['Area', 'ISO 3 code', 'Year', 'Value']]

clean_by_country_year.columns = ['Country', 'ISO Code', 'Year', 'Clean Energy (%)']

print(clean_by_country_year)

clean_by_country_year.to_csv('clean_energy_by_country_year.csv', index=False)

              Country ISO Code  Year  Clean Energy (%)
2             Austria      AUT  1990             66.25
58            Austria      AUT  1991             65.09
114           Austria      AUT  1992             72.48
170           Austria      AUT  1993             74.16
226           Austria      AUT  1994             71.03
...               ...      ...   ...               ...
71151  United Kingdom      GBR  2020             59.26
71204  United Kingdom      GBR  2021             54.75
71257  United Kingdom      GBR  2022             56.21
71310  United Kingdom      GBR  2023             60.26
71363  United Kingdom      GBR  2024             64.93

[1285 rows x 4 columns]